
/* 
---------------------------------------------
Services Style
--------------------------------------------- 
*/

.our-services {
    margin-top: 0px;
    padding-top: 120px;
  }
  
  .our-services .left-image {
    margin-right: 45px;
  }
  
  .our-services .section-heading h2 {
    margin-right: 100px;
  }
  
  .our-services .section-heading p {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  
  .our-services .progress-skill-bar {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
  }
  
  .our-services .progress-skill-bar span {
    position: absolute;
    top: 0;
    font-size: 18px;
    font-weight: 600;
    color: #03a4ed;
  }
  
  .our-services .first-bar span {
    left: 69%;
  }
  
  .our-services .second-bar span {
    left: 81%;
  }
  
  .our-services .third-bar span {
    left: 88%;
  }
  
  .our-services .progress-skill-bar h4 {
    font-size: 18px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 14px;
  }
  
  .our-services .progress-skill-bar .full-bar {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #f7eff1;
    position: relative;
    z-index: 1;
  }
  
  .our-services .progress-skill-bar .filled-bar {
    background: rgb(255,77,30);
    background: linear-gradient(105deg, rgba(255,77,30,1) 0%, rgba(255,44,109,1) 100%);
    height: 6px;
    border-radius: 3px;
    margin-bottom: -6px;
    position: relative;
    z-index: 2;
  }
  
  .our-services .first-bar .filled-bar {
    width: 71%;
  }
  
  .our-services .second-bar .filled-bar {
    width: 83%;
  }
  
  .our-services .third-bar .filled-bar {
    width: 90%;
  }
  
  